mcp
python-dotenv
openai
requests
pydantic
httpx
pandas
langchain-core
langchain-openai
langchain
asyncio
nest-asyncio
beautifulsoup4
tiktoken
docling
rich
fastmcp
ollama
langgraph
typing_extensions
crawl4ai